body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import './assets/scss/style.scss';

@import './assets/scss/skin.scss';

@import './assets/scss/demo.scss';

@import './assets/scss/bootstrap.scss';

@import './assets/scss/owl.carousel.scss';

@import './assets/scss/jquery.countdown.scss';

@import './assets/scss/magnific-popup.scss';

@import './assets/scss/line-awesome.scss';